/* Stylesheet by Beichen Tian, 2017.01 */

#mapid{
	border-radius:20px;
	width:1000px;
	height:700px;
	position: absolute;
	top:12%;
	right:25%;
}

h1{
	font-style:italic;
	font-weight:bold;
	font-family:Gill Sans MT;
}